@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Jost', sans-serif;
}

.header1 {
    background-color: rgb(255, 255, 255);
    position: sticky;
    z-index: 100;

    top: 0;
}

.navdiv {
    padding: 20px 30px;
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navdiv.scrolled {
    padding: 5px 30px;
    transition: 0.5s ease-in-out;
}

.navdiv ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nb1 img {
    height: 65px;
}

.nb1 li a {

    text-decoration: none;
    color: rgb(123, 122, 122);
    font-size: 20px;
}

.nb1 .logo a {
    font-size: 25px;
}

.nb3 img {
    height: 20px;
}

.menu-icon {
    color: rgb(123, 122, 122);
    display: none;
    cursor: pointer;
    font-size: 30px;
}

.menu-icon p{
   padding-left: 40px;
   display: inline;
    color: rgb(123, 122, 122);

}

.section1 {
    display: block;
 
   position: relative;
}

.section1 .back1 {
    display: block;
    object-fit: cover;
    /* width: 100%;
    height: auto; */
    height: 600px;
    width: 100%;
}

.section1 .back2 {
    position: absolute;
    top:0;
   
    /* top: -460px;
    left: 40px; */
    background-color: rgba(187, 187, 187, 0.616);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    height: 500px;
    padding: 20px;
    margin: 50px;
}

.back2 h1 {
    font-size: 60px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.back2 h2 {
    font-size: 25px;
    padding: 10px;
    font-weight: 400;

    color: rgb(36, 35, 35);
}

.back2 div {
    text-align: center;
    font-size: 17px;
    padding: 10px 20px;
    color: rgb(40, 40, 40);
}

.back2 .btn1-2 {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.back2 .btn1-2 button {
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Jost', sans-serif;

}

.back2 .btn1-2 button:nth-child(1) {
    background-color: rgb(64, 27, 158);
    color: white;
    font-family: 'Jost', sans-serif;

}

.back2 .btn1-2 button:nth-child(2) {
    background-color: transparent;
    border: 1px solid rgb(64, 27, 158);
    color: rgb(64, 27, 158);
}

.back2 .btn1-2 button:nth-child(1):hover {
    background-color: rgba(64, 27, 158, 0.676);
}

.back2 .btn1-2 button:nth-child(2):hover {
    background-color: rgb(64, 27, 158);
    color: white;
}

/* Responsive Design */

@media (max-width: 1000px) {
    .nb1 img {
        height: 55px;
    }

    .back2 h1 {
        font-size: 40px;
    }

    .back2 div {
        font-size: 14px;
    }

    .back2 .btn1-2 {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 780px) {
    .navdiv {
        flex-direction: column;
        align-items: flex-start;
    }

    .navdiv>:nth-child(2) {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navdiv>:nth-child(3) {
        /* display: none; */
        flex-direction: row;
        width: 100%;
        position: absolute;
        left: 300px;
        top: 17px;
    }


    .navdiv .menu-icon {
        display: block;
    }


    .navdiv ul.active {
        display: flex;

    }

   
}

@media (max-width: 480px) {
    .nb1 img {
        height: 40px;
    }

 .section1 .back2{
        margin: 15px;
    }

    .back2 h1 {
        font-size: 25px;
  
    }

    .back2 div {
        
        font-size: 14px;
    }

    .back2 .btn1-2 {
        flex-direction: column;
        gap: 10px;
    }

    .back2 .btn1-2 button {
        width: 100%;
    }
}